@import "~bootstrap/scss/bootstrap";

.navs {
  margin-top: -20px;
  background-color: white;
}
.navbar-nav {
  font-size: 18px;
  margin-left: 6%;
}
.nav1 {
  font-size: 12px;
  overflow: hidden;
  background-color: white;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}
.nav2 {
  margin-top: 29px;
  overflow: hidden;
  background-color: white;
  transition: 0.4s;
  position: fixed;
  width: 120%;
  top: 0;
  z-index: 99;
}
.nav2 a:hover {
  text-decoration: underline;
}
.jumbotron1 {
  margin-top: 90px;
}
.display-4 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.btn-contact {
  padding-left: 23%;
}
.main-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.card-text {
  font-size: 18px;
}
.card0 {
  width: 70%;
  box-sizing: inherit;
  border-radius: 14px;
  text-align: center;
  padding-left: 12%;
}
.card1:hover {
  -ms-transform: scale(0.9); /* IE 9 */
  -webkit-transform: scale(0.9); /* Safari 3-8 */
  transform: scale(0.9);
}
.card1 {
  border-radius: 20px;
  border-right: 10px solid #d41f9c;
  border-bottom: 10px solid #d41f9c;
  transition: transform 0.4s;
  height: 550px;
}
.card1 img {
  display: flex;
  justify-self: start;
  overflow: visible;
  margin: 0 2.5%;
  width: 16%;
}
.card2:hover {
  -ms-transform: scale(0.9); /* IE 9 */
  -webkit-transform: scale(0.9); /* Safari 3-8 */
  transform: scale(0.9);
}
.card2 {
  border-radius: 20px;
  border-right: 10px solid #871fff;
  border-bottom: 10px solid #871fff;
  margin-top: 90px;
  transition: transform 0.4s;
  height: 550px;
}
.card2 img {
  display: flex;
  justify-self: start;
  overflow: visible;
  margin: 0 2.5%;
  width: 12%;
}
.card3:hover {
  -ms-transform: scale(0.9); /* IE 9 */
  -webkit-transform: scale(0.9); /* Safari 3-8 */
  transform: scale(0.9);
}
.card3 {
  border-radius: 20px;
  border-right: 10px solid #ffa78c;
  border-bottom: 10px solid #ffa78c;
  margin-top: 180px;
  transition: transform 0.4s;
  height: 550px;
}
.card3 img {
  display: flex;
  justify-self: start;
  overflow: visible;
  margin: 0 2.5%;
  width: 12%;
}
.row {
  width: 100%;
  margin-top: 110px;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
}
.p-3 {
  font-family: Spezia, Spezia_SemiMono, Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 2.5rem;
  text-align: justify;
}
.list-unified {
  display: flex;
  justify-content: space-between;
  text-align: justify;
  font-size: 15px;
  padding-left: 12%;
  font-family: Georgia, serif;
}
.title {
  text-align: justify;
  padding-left: 12%;
}
.p-4 {
  font-family: Optima;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5rem;
  text-align: justify;
  margin-top: -10px;
}
.list-videoapi {
  display: flex;
  justify-content: space-between;
  text-align: justify;
  font-size: 15px;
  padding-left: 3%;
  font-family: Copperplate;
  margin-top: -26px;
}
.table-4 {
  padding-left: 2%;
}
.title-api {
  padding-right: 68%;
}
.title-api p {
  padding-left: 10%;
}
.p-5 {
  font-family: Georgia, serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5rem;
  text-align: justify;
  margin-top: -35px;
}
.list-cc {
  display: flex;
  justify-content: space-between;
  text-align: justify;
  font-size: 15px;
  padding-left: 18%;
  font-family: "Times New Roman", Times, serif;
  width: 100%;
  margin-top: -30px;
}
.title-cc {
  text-align: justify;
  padding-left: 17%;
}
.table-6 {
  padding-left: 6%;
}
.end-note {
  margin-top: 80px;
}
.p-end {
  text-align: justify;
  padding-left: 2%;
  font-size: 15px;
  color: #808080;
  width: 57%;
}
.card-game {
  display: flex;
  justify-content: space-between;
  margin-top: 190px;
}
.img-hover-zoom {
  overflow: hidden; /* Removing this will break the effects */
}
/* Slow-motion Zoom Container */
.img-hover-zoom--slowmo img {
  transform-origin: 50% 65%;
  transition: transform 5s, filter 3s ease-in-out;
  filter: brightness(150%);
}

/* The Transformation */
.img-hover-zoom--slowmo:hover img {
  filter: brightness(100%);
  transform: scale(3);
}
.card-body {
  text-align: justify;
}
.card-title {
  font-size: 14px;
  letter-spacing: 2px;
}
.body-title {
  font-size: 12px;
  color: #a9a9a9;
}
.speak {
  color: white;
  margin-top: -59px;
  width: 100%;
}
.speak h1 {
  font-size: 58px;
  margin-left: -50px;
  font-family: system-ui;
}
.nomor {
  text-align: justify;
  color: white;
  position: relative;
  padding-left: 12%;
  padding-bottom: 17%;
  top: -60px;
  font-size: 17px;
}
.footerr {
  text-align: justify;
  position: relative;
  padding-left: 2%;
  padding-bottom: 10%;
  letter-spacing: 2px;
  font-size: small;
}

/* BASIC */

a {
  color: #92badd;
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
}

h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  margin: 40px 8px 10px 8px;
  color: #cccccc;
}

/* STRUCTURE */

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
}

#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}

/* TABS */

h2.inactive {
  color: #cccccc;
}

h2.active {
  color: #0d0d0d;
  border-bottom: 2px solid #5fbae9;
}

/* FORM TYPOGRAPHY*/

input[type="button"],
input[type="submit"],
input[type="reset"] {
  background-color: #56baed;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
  box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #39ace7;
}

input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

input[type="text"] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

input[type="text"]:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

input[type="text"]:placeholder {
  color: #cccccc;
}

/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fadeIn.second {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fadeIn.third {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #56baed;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after {
  width: 100%;
}

/* OTHERS */

*:focus {
  outline: none;
}

#icon {
  width: 60%;
}
