@import "~bootstrap/scss/bootstrap";

.navs {
  margin-top: -20px;
  background-color: white;
}
.navbar-nav {
  font-size: 18px;
  margin-left: 6%;
}
.nav1 {
  font-size: 12px;
  overflow: hidden;
  background-color: white;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}
.nav2 {
  margin-top: 29px;
  overflow: hidden;
  background-color: white;
  transition: 0.4s;
  position: fixed;
  width: 120%;
  top: 0;
  z-index: 99;
}
.nav2 a:hover {
  text-decoration: underline;
}
.jumbotron1 {
  margin-top: 90px;
}
.display-4 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.btn-contact {
  padding-left: 23%;
}
.main-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.card-text {
  font-size: 18px;
}
.card0 {
  width: 70%;
  box-sizing: inherit;
  border-radius: 14px;
  text-align: center;
  padding-left: 12%;
}
.card1:hover {
  -ms-transform: scale(0.9); /* IE 9 */
  -webkit-transform: scale(0.9); /* Safari 3-8 */
  transform: scale(0.9);
}
.card1 {
  border-radius: 20px;
  border-right: 10px solid #d41f9c;
  border-bottom: 10px solid #d41f9c;
  transition: transform 0.4s;
  height: 550px;
}
.card1 img {
  display: flex;
  justify-self: start;
  overflow: visible;
  margin: 0 2.5%;
  width: 16%;
}
.card2:hover {
  -ms-transform: scale(0.9); /* IE 9 */
  -webkit-transform: scale(0.9); /* Safari 3-8 */
  transform: scale(0.9);
}
.card2 {
  border-radius: 20px;
  border-right: 10px solid #871fff;
  border-bottom: 10px solid #871fff;
  margin-top: 90px;
  transition: transform 0.4s;
  height: 550px;
}
.card2 img {
  display: flex;
  justify-self: start;
  overflow: visible;
  margin: 0 2.5%;
  width: 12%;
}
.card3:hover {
  -ms-transform: scale(0.9); /* IE 9 */
  -webkit-transform: scale(0.9); /* Safari 3-8 */
  transform: scale(0.9);
}
.card3 {
  border-radius: 20px;
  border-right: 10px solid #ffa78c;
  border-bottom: 10px solid #ffa78c;
  margin-top: 180px;
  transition: transform 0.4s;
  height: 550px;
}
.card3 img {
  display: flex;
  justify-self: start;
  overflow: visible;
  margin: 0 2.5%;
  width: 12%;
}
.row {
  width: 100%;
  margin-top: 110px;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
}
.p-3 {
  font-family: Spezia, Spezia_SemiMono, Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 2.5rem;
  text-align: justify;
}
.list-unified {
  display: flex;
  justify-content: space-between;
  text-align: justify;
  font-size: 15px;
  padding-left: 12%;
  font-family: Georgia, serif;
}
.title {
  text-align: justify;
  padding-left: 12%;
}
.p-4 {
  font-family: Optima;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5rem;
  text-align: justify;
  margin-top: -10px;
}
.list-videoapi {
  display: flex;
  justify-content: space-between;
  text-align: justify;
  font-size: 15px;
  padding-left: 3%;
  font-family: Copperplate;
  margin-top: -26px;
}
.table-4 {
  padding-left: 2%;
}
.title-api {
  padding-right: 68%;
}
.title-api p {
  padding-left: 10%;
}
.p-5 {
  font-family: Georgia, serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5rem;
  text-align: justify;
  margin-top: -35px;
}
.list-cc {
  display: flex;
  justify-content: space-between;
  text-align: justify;
  font-size: 15px;
  padding-left: 18%;
  font-family: "Times New Roman", Times, serif;
  width: 100%;
  margin-top: -30px;
}
.title-cc {
  text-align: justify;
  padding-left: 17%;
}
.table-6 {
  padding-left: 6%;
}
.end-note {
  margin-top: 80px;
}
.p-end {
  text-align: justify;
  padding-left: 2%;
  font-size: 15px;
  color: #808080;
  width: 57%;
}
.card-game {
  display: flex;
  justify-content: space-between;
  margin-top: 190px;
}
.img-hover-zoom {
  overflow: hidden; /* Removing this will break the effects */
}
/* Slow-motion Zoom Container */
.img-hover-zoom--slowmo img {
  transform-origin: 50% 65%;
  transition: transform 5s, filter 3s ease-in-out;
  filter: brightness(150%);
}

/* The Transformation */
.img-hover-zoom--slowmo:hover img {
  filter: brightness(100%);
  transform: scale(3);
}
.card-body {
  text-align: justify;
}
.card-title {
  font-size: 14px;
  letter-spacing: 2px;
}
.body-title {
  font-size: 12px;
  color: #a9a9a9;
}
.speak {
  color: white;
  margin-top: -59px;
  width: 100%;
}
.speak h1 {
  font-size: 58px;
  margin-left: -50px;
  font-family: system-ui;
}
.nomor {
  text-align: justify;
  color: white;
  position: relative;
  padding-left: 12%;
  padding-bottom: 17%;
  top: -60px;
  font-size: 17px;
}
.footerr {
  text-align: justify;
  position: relative;
  padding-left: 2%;
  padding-bottom: 10%;
  letter-spacing: 2px;
  font-size: small;
}
