@import "~bootstrap/scss/bootstrap";

.navs {
  margin-top: -20px;
  background-color: white;
}
.navbar-nav {
  font-size: 18px;
  margin-left: 6%;
}
.nav1 {
  font-size: 13px;
}
.nav2 {
  margin-top: 20px;
}
.display-4 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.btn-contact {
  margin-left: 290px;
}
.main-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.card-text {
  font-family: Georgia, serif;
  font-size: 18px;
}
.card {
  width: 100%;
  padding-left: 2rem;
  box-sizing: inherit;
  border-radius: 14px;
}
.card1:hover {
  -ms-transform: scale(0.9); /* IE 9 */
  -webkit-transform: scale(0.9); /* Safari 3-8 */
  transform: scale(0.9);
}
.card1 {
  border-radius: 20px;
  border-right: 10px solid #d41f9c;
  border-bottom: 10px solid #d41f9c;
  transition: transform 0.4s;
}
.card2:hover {
  -ms-transform: scale(0.9); /* IE 9 */
  -webkit-transform: scale(0.9); /* Safari 3-8 */
  transform: scale(0.9);
}
.card2 {
  border-radius: 20px;
  border-right: 10px solid #871fff;
  border-bottom: 10px solid #871fff;
  margin-top: 90px;
  transition: transform 0.4s;
}
.card3:hover {
  -ms-transform: scale(0.9); /* IE 9 */
  -webkit-transform: scale(0.9); /* Safari 3-8 */
  transform: scale(0.9);
}
.card3 {
  border-radius: 20px;
  border-right: 10px solid #ffa78c;
  border-bottom: 10px solid #ffa78c;
  margin-top: 180px;
  transition: transform 0.4s;
}
.row {
  width: 100%;
  margin-top: 110px;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
}
.p-3 {
  font-family: Spezia, Spezia_SemiMono, Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 2.5rem;
  text-align: justify;
}
.list-unified {
  display: flex;
  justify-content: space-between;
  text-align: justify;
  font-size: 15px;
  padding-left: 12%;
  font-family: Georgia, serif;
}
.title {
  text-align: justify;
  padding-left: 12%;
}
.p-4 {
  font-family: Georgia, serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5rem;
  text-align: justify;
}
.list-videoapi {
  display: flex;
  justify-content: space-between;
  text-align: justify;
  font-size: 16px;
  padding-left: 5%;
  font-family: "Times New Roman", Times, serif;
}
.table-4 {
  padding-left: 4%;
}
.title-api {
  padding-right: 65%;
}
.title-api p {
  padding-left: 10%;
}
